<%= form_with model: @product do |form| %>
    <div>
        <%= form.hidden_field :date_of_rejection, value: @product.date_of_rejection %>
        Браковать с: <%= @product.date_of_rejection %>
    </div>

    <div>
        PLU: <%= form.number_field :plu %>
    </div>

    <div>
        Количество: <%= form.number_field :quantity, min: "0.0", step: "0.001" %>
    </div>

    <div>
        <%= form.radio_button :type_of_quantity, "кг" %>
        <%= form.label :type_of_quantity_kg, 'кг' %>
    </div>

    <div>
        <%= form.radio_button :type_of_quantity, "шт" %>
        <%= form.label :type_of_quantity_sht, 'шт' %>
    </div>

    <div class="file-upload">
    <label>
        <%= form.file_field :photos, accept: 'image/png,image/gif,image/jpeg',
                            onchange: "getFileName();" %>
        <span id="input-text">выбрать фото</span>
    </label>
    </div>

    <div id="file-name"></div>

    <%= form.submit "сохранить" %>
<% end %>

<script type="text/javascript">
    function getFileName() {
        document.getElementById('input-text').innerHTML = "фото выбрано";
    }
</script>