<div>
    Браковать с: <%= @product.date_of_rejection %>
</div>

<div>
    PLU: <%= @product.plu %>
</div>

<div>
    Количество: <%= @product.quantity %> <%= @product.type_of_quantity %>
</div>

<div>
    <% @product.photos.each do |photo| %>
        <div><%= image_tag photo %></div>
    <% end %>
</div>

<div>
    <%= button_to "добавить фото", add_photo_product_path, method: :get %>
</div>

<div>
    <%= button_to "редактировать", edit_product_path, method: :get %>
</div>

<div>
    <%= button_to "удалить", product_path(@product), method: :delete, 
                  onclick: "return confirm('Точно удалить?')" %>
</div>

<div>
    <%= button_to "вернуться на главную", root_path, method: :get %>
</div>

<div>
    <%= button_to "все товары на продажу", products_path, method: :get %>
</div>

<div>
    <% whatsapp_text = "PLU: #{@product.plu}%0AКоличество: #{@product.quantity} "\
                       "#{@product.type_of_quantity}"%>
    <a href="whatsapp://send/?text=<%= whatsapp_text %>">поделиться через whatsapp</a>
</div>